*.a
*.o
*.os
*.so
*.so.*
*~
.sconsign.dblite
/TODO
/libflexlay/flexlay_wrap_wrap.cc
/libflexlay/libflexlay.so
/netpanzer/netpanzer_wrap.cc
/netpanzer/netpanzer_wrap.so
/ruby/flexlay_wrap.so
/simple/simple
moc_*.cpp
semantic.cache

/Makefile
/libflexlay/Makefile
/simple/Makefile