*.a
*.o
*.os
*~
.sconsign.dblite
/TODO
/lib/flexlay_wrap_wrap.cc
/lib/libflexlay.so
/netpanzer/netpanzer_wrap.cc
/netpanzer/netpanzer_wrap.so
/ruby/flexlay_wrap.so
/simple/simple
semantic.cache

/Makefile
/libflexlay/Makefile
/simple/Makefile