*.a
*.o
*.os
*.pyc
*.so
*.so.*
*~
.idea/
.sconsign.dblite
/.mypy_cache/
/.pylint/
/TODO
/build/
/flexlay.egg-info/
/libflexlay/flexlay_wrap_wrap.cc
/libflexlay/libflexlay.so
/netpanzer/netpanzer_wrap.cc
/netpanzer/netpanzer_wrap.so
/old
/ruby/flexlay_wrap.so
/simple/simple
/result
moc_*.cpp
